extends layout

block content
  h1= title
  p Welcome to S3 Client
  p List of Bucket Objects
  
  table
    tr
        td Key
        td Size
    each object in objects
        tr
            td= object.Key
            td= object.Size

